/* STYLES BODY */
body {
 background-color: #fafafa;
 margin: 0px;
 font-family: 'Roboto Condensed', sans-serif;
}

.header-bg {
    width: 100%;
    background-color: #FF8558;
    position: sticky;
    top: 0;
    z-index: 2;
}
/* -HEADER */
header {
    margin: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    width: 70%;
    height:70px;
}

/* --NAVBAR */
.navbar {
}

.navbar > a {
    text-decoration: none;
    color: #464440;
    font-size: 20px;
    margin-right: 16px;
}

/* --NAME */
.name {
    height: auto;
}

/* ---APPLIES STYLE TO DIVS INSIDE NAME */
.name>div{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;

}

/* ---GIVES STYLE TO LAST NAME */
.last {
    color: #464440;
    font-weight: bold;
    padding: 0;
    width: 115px;
}
/* ---FIRST NAME BEFORE SCROLL */
.first {
    position: relative;
    right: 140px;
    top: 8px;
    transition-timing-function: ease;
    transition-duration: .75s;
    color: #fafafa;
}
/* ---PARTIALLY HIDES FIRST MAME AFTER SCROLL */
.mask {
    height:30px;
    width: 70px;
    float:left;
    background-color: #FF8558;
    z-index: 3;
    position:relative;
    top: 38px;
}


/* ---CLASS FIRST NAME ADOPTS AFTER SCROLL */
.header-bg:hover .first{
    right: 68px;
}

.profile-background {
    background: linear-gradient(#FF8558, #FF8558 70%, #FFB658);
    min-height: 100vh;
    display: flex;

}

.profile-container {
    padding-top: 32px;
    width: 70%;
    margin: auto;
    position: relative;
    bottom: 86px;
}

img {
    /* border: 2px solid gray; */
    border-radius: 50%;
    width: 40%;
    float: left;
    shape-outside: circle();
    margin-right: 16px;
}

summary {
    font-size: 4em;
    text-align: left;
    color: #FFB658;
    line-height: 1em;
}

summary > .school {
    color: #458CBD;
}


/* -APPLIES STYLE TO CONTENT */
.content {
    padding-top: 16px;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #FFB658;
}



div > h2 {
    text-align: center;
}

.content > div {
    width: 55%;
    min-width: 450px;
    padding: 0px 8px 8px 8px;
    margin: 24px;
    transition: all 1s;
}

.content > div:hover {
    box-shadow: 0px 0px 30px 0px black;
    transform:scale(1.02);
}

#contact > ul {
    list-style: none;
    padding: 0;
}
