/* STYLES BODY */
body {
 background-color: #fafafa;
 margin: 0px;
}

/* -HEADER */
header {
    background-color: #FFB246;
    position: sticky;
    top: 0;
    padding-top: 32px;
    padding-bottom: 8px;
    margin-top: 0px;
    height: 80px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
}

/* --NAVBAR */
.navbar {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

/* --NAME */
.name {
    position: absolute;
    bottom: 16px;
    right: 8px;
    height: inherit;
    /* display: inline-block;
    bottom: 8px; */
    /* width: 1px; */
    /* margin-right: 32px; */
    /* margin-left: 70%; */
    /* margin-top: 0px;
    margin-bottom: 0px; */
}

/* ---APPLIES STYLE TO DIVS INSIDE NAME */
.name>div{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ---GIVES STYLE TO LAST NAME */
.last {
    color: #464440;
    position: relative;
    top:-8px;
    font-weight: bold;
}
/* ---FIRST NAME BEFORE SCROLL */
.first {
    position: relative;
    right: 140px;
    transition-timing-function: ease;
    transition-duration: .75s;
    color: #fafafa;
}
/* ---PARTIALLY HIDES FIRST MAME AFTER SCROLL */
.mask {
    height:30px;
    width: 70px;
    float:left;
    background-color: #FFB246;
    z-index: 10;
    position:relative;
    top: 30px;
}
/* ---CLASS FIRST NAME ADOPTS AFTER SCROLL */
.nickname{
    right: 68px;
}


/* -APPLIES STYLE TO CONTENT */
.content {
    max-width: 450px;
    margin: auto;
}
