/* STYLES BODY */
body {
 background-color: #fafafa;
 margin: 0px;
}

.header-bg {
    width: 100%;
    background-color: #FFB246;
    position: sticky;
    top: 0;
}
/* -HEADER */
header {
    margin: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    width: 70%;
    height:70px;
}

/* --NAVBAR */
.navbar {
}

.navbar > a {
    text-decoration: none;
    color: #464440;
    font-size: 20px;
    margin-right: 16px;
}

/* --NAME */
.name {
    height: auto;
}

/* ---APPLIES STYLE TO DIVS INSIDE NAME */
.name>div{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;

}

/* ---GIVES STYLE TO LAST NAME */
.last {
    color: #464440;
    font-weight: bold;
    padding: 0;
    width: 115px;
}
/* ---FIRST NAME BEFORE SCROLL */
.first {
    position: relative;
    right: 140px;
    top: 8px;
    transition-timing-function: ease;
    transition-duration: .75s;
    color: #fafafa;
}
/* ---PARTIALLY HIDES FIRST MAME AFTER SCROLL */
.mask {
    height:30px;
    width: 70px;
    float:left;
    background-color: #FFB246;
    z-index: 2;
    position:relative;
    top: 38px;
}
/* ---CLASS FIRST NAME ADOPTS AFTER SCROLL */
.first:hover{
    right: 68px;
}


/* -APPLIES STYLE TO CONTENT */
.content {
    width: 800px;
    margin: auto;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

img {
    border: 2px solid gray;
    border-radius: 300px;
    height: 250px;
}

summary {
    font-size: 1.5em;
    width: 600px;
    overflow: visible;
    text-align: center;
}

div > h2 {
    text-align: center;
}

.content > div {
    max-width: 450px;
    padding: 0px 8px 8px 8px;
    box-shadow: 0px 0px 5px 3px black;
    margin: 24px;
    transition: all 1s;
}

.content > div:hover {
    box-shadow: 0px 0px 15px 5px black;
    transform:scale(1.1);
}

#contact > ul {
    list-style: none;
    padding: 0;
}
